/*body {
    background: #F8F8F8;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    line-height: 32px;
    padding-top: 70px;
}

    h1 a {
        color: #66CCCC;
    }

ul {
    list-style: none;
}
*/
.header-email {
    padding-top: 40px;
}

.navbar {
    padding: 0;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 20px 0;
    justify-content: center;
}

.price-table-wrapper {
    font-family: "Lato", sans-serif;
    text-align: center;
}

    .price-table-wrapper .featured-table {
        box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    }

    .price-table-wrapper .pricing-table {
        display: inline-block;
        /*        border: 1px solid #C8C8C8;*/
        border-radius: 10px;
        background: white;
        margin: 20px;
        transition: all 0.3s ease-in-out;
    }

    .price-table-wrapper .pricing-table__header {
        padding: 10px;
        font-size: 20px;
        color: #909090;
        background: #E0E0E0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .price-table-wrapper .pricing-table__price {
        color: #66CCCC;
        padding-top: 0px;
        margin: auto;
        font-size: 40px;
        font-weight: 500;
    }

    .price-table-wrapper .pricing-table-previous__price {
        text-decoration: line-through;
        color: #a3a1a1;
        padding-top: 0px;
        margin: auto;
        font-size: 35px;
        font-weight: 200;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .price-table-wrapper .pricing-table__button {
        display: block;
        background: #66CCCC;
        text-decoration: none;
        padding: 20px;
        color: white;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

        .price-table-wrapper .pricing-table__button:before {
            position: absolute;
            left: -20%;
            top: -10%;
            content: "";
            width: 60%;
            height: 220%;
            transform: rotate(-30deg);
            background: white;
            opacity: 0.3;
            transition: all 0.3s ease-in-out;
        }

        .price-table-wrapper .pricing-table__button:after {
            position: absolute;
            content: ">";
            top: 0;
            right: 0;
            font-size: 25px;
            padding: 15px;
            padding-right: 40px;
            color: white;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .price-table-wrapper .pricing-table__button:hover {
            background: black;
        }

    .price-table-wrapper .pricing-table__list {
        padding: 20px;
        color: #A0A0A0;
    }

        .price-table-wrapper .pricing-table__list li {
            padding: 15px;
            border-bottom: 1px solid #C8C8C8;
            font-size: 15px;
        }

            .price-table-wrapper .pricing-table__list li:last-child {
                border: none;
            }

    .price-table-wrapper .pricing-table:hover {
        box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    }

        .price-table-wrapper .pricing-table:hover .pricing-table__button {
            padding-left: 0;
            padding-right: 35px;
        }

            .price-table-wrapper .pricing-table:hover .pricing-table__button:before {
                top: -80%;
                transform: rotate(0deg);
                width: 100%;
            }

            .price-table-wrapper .pricing-table:hover .pricing-table__button:after {
                opacity: 1;
                padding-right: 15px;
            }

/*@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");*/

/** {
    box-sizing: border-box;
    margin: 0;
}*/

body {
    background: linear-gradient(90deg, #BE8CEF 0%, rgba(61, 46, 232, 0.83) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    height: 100vh;
    margin: -20px 0 50px;
    background-repeat: no-repeat;
}

.price-contact-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 580px;
    min-width: 370px;
    padding: 0;
}

.support_url {
    display: flex;
    font-size: 15px;
    color: #A0A0A0;
    align-items: center;
}

    .support_url span {
        margin-top: 10px;
        font-size: 30px;
        color: #A0A0A0;
    }



.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
}
/*h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
*/
.price-contact-form-container {
    display: flex;
}

.left-container {
    flex: 1;
    height: 680px;
    /*   background-color: #5864ff;*/
    background-image: url(../img/hero/hero-bg.svg);
    background-color: #ad48e8;
}

.right-container {
    display: flex;
    flex: 1;
    height: 680px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-container {
    display: flex;
    flex: 1;
    height: 680px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: left;
}

    .left-container p {
        font-size: 0.9rem;
    }

.right-inner-container {
    width: 70%;
    text-align: center;
}

.left-inner-container {
    width: 80%;
    text-align: center;
    line-height: 22px;
}

input, textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

    input:focus, textarea:focus {
        outline: 1px solid #00b4cf;
    }

.button-form {
    border-radius: 20px;
    border: 1px solid #5864ff;
    background-color: #5864ff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

    .button-form:hover {
        opacity: 0.7;
    }

    .button-form:disabled {
        opacity: 0.7;
    }

@media only screen and (max-width: 600px) {
    /*    .left-container {
        display: none;
    }*/
    .header-email h1 {
        font-size: 25px;
    }

    .price-contact-form-container {
        display: flex;
        flex-direction: column;
    }

    .lg-view {
        display: none;
    }

    .right-inner-container {
        padding: 40px 0;
    }

    .right-inner-container {
        width: 50%;
    }
    /*    body {
        background: #00b4cf;
    }*/
    .price-table-wrapper {
        padding: 40px 0;
    }

    .price-contact-container {
        width: auto;
    }

    .footer-container {
        position: inherit;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .sm-view {
        display: none;
    }
}

form p {
    text-align: left;
}
